:root{
    --width-circle: 150vw;
    --radius: calc(100vw / 6);

    --colorOne: #ffffff;
    --colorTwo: #011936;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--colorTwo);
}
audio{
    display: none;
}
header{
    position: relative;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 10;
}
nav img { 
    width: 35px;
    border-radius: 50%;
    box-shadow: 1px 1px 4px var(--colorOne);
    box-sizing: border-box;
    margin-right: 2vw;
    margin-top: 2vh;
}
nav img:hover {
    border: 1px solid var(--colorOne);
    box-shadow: 1px 1px 4px var(--colorOne);
    transition: transform 0.5s, border 0.5s;
    transform: translate(-5px, 5px);
}
nav img:active{
    transform: scale(95%);
}
#saturn img{
    width: 70px;
    height: 70px;
    transform: translate(3vw, 3vh);
}
@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.slider{
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    position: fixed;
    top: 0;
    background-size: cover;
    background-image: conic-gradient(
        from var(--rotate) at 7% 5%,
        var(--colorTwo) 40%,
        var(--colorOne),
        var(--colorTwo) 60%
    );
    color: transparent;
    animation: rotateLight 3s ease-in-out infinite alternate;
}
@keyframes rotateLight{
    from{
        --rotate: 0.15turn
    }to{
        --rotate: -0.15turn;
    }

}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.8s; 
}
.slider .list .item{
    width: calc(var(--radius) * 2);
    text-align: center;
    transition: transform 1s;
    transform: rotate(45deg);
}
.slider .list .item.active{
    transform: rotate(0deg);
}
.slider .list .item img{
    width: 80%;
    filter: drop-shadow(0 0 20px var(--colorTwo));
}
.slider .content{
    position: absolute;
    margin: auto;
    bottom: 1.5vh;
    left: 50%;
    text-align: center;
    width: max-content;
    transform: translateX(-50%);
}
.slider .content div:nth-child(2){
    background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    animation: sliderLight 5s ease-in-out infinite alternate;
    letter-spacing: 2vw;
    font-size: 3rem;
    font-weight: bolder;
    position: relative;
    border-radius: 5px;
    text-shadow: 1px 1px 10px var(--colorOne);
    background-image: conic-gradient(
        from var(--rotate) at 50% -100%,
        var(--colorOne) 40%,
        var(--colorTwo),
        var(--colorOne) 60%
    );
}
@keyframes sliderLight{
    from{
        --rotate: 5turn
    }to{
        --rotate: -5turn;
    }
}

.slider .content div:nth-child(2)::before{
    position: absolute;
    right: 10vw;
    bottom: 5vh;
    width: 60px;
    height: 60px;
    content: '';
    background-image: url(img/leaves.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.box{
    position: fixed;
    width: 30px;
    height: 30px;
    right: 15vw;
    bottom: 25vh;
    cursor: pointer; 
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--colorOne), var(--colorTwo));
    background-size: cover;
    border-radius: 50px;
    transition: 1s;
}
.box:hover .bg{
    transform: 
        perspective(20px)
        rotatex(5deg)
        translateY(-50px);
}
.bird{
    pointer-events: none;
    position: absolute;
    width: 150px;
    height: 150px;
    background-size: 100%;
    animation: gifAnimation 0.3s linear infinite;
    background-repeat: no-repeat;
    bottom: 0;
    transition: 1s;
    animation-play-state: paused!important;
}
.box:hover .bird{
    animation-play-state: running!important;
    transform: translateX(-76vw)translateY(-42vh);
    transition: 1s;
}
@keyframes gifAnimation {
    from{
        background-image: url(img/5.png);  
    }to{
        background-image: url(img/6.png);
    }
    
}
.slider .content div:nth-child(1){
    text-align: left;
    font-weight: bolder;
    color: var(--colorOne);
    text-shadow: 1px 1px 10px  var(--colorOne);
    text-transform: uppercase;
    transform: translate(5px, 5px);
    
}
.slider .content button{ 
    background: transparent;
    color: var(--colorOne);
    font-family: 'Poppins';
    box-shadow: 1px 1px 10px var(--colorOne);
    text-shadow: 1px 1px 4px var(--colorOne);
    letter-spacing: 5px;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: medium;
    border: 1px solid var(--colorOne);
    cursor: pointer; 
}
.content a :hover {
    border: 1px solid var(--colorOne);
    transform: translate(-3px, -3px);
    box-shadow: 1px 1px 10px var(--colorOne);
    transition: transform 0.1s, border 0.1s;
}
.content a:active {
    transform: scale(95%);
}
#prev,
#next{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--colorOne);
    background-image: linear-gradient(to top, var(--colorOne), var(--colorTwo));
    box-shadow: 1px 1px 10px var(--colorOne);
    color: var(--colorOne);
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 15;
    transform: translateY(-50%);
}
#prev{
    left: 20px;
}
#next{
    right: 20px;
}
#prev, #next:hover{
    border: 1px solid var(--colorOne);
    box-shadow: 1px 1px 10px var(--colorOne);
    transition: transform 0.1s, border 0.1s;
    transform: translate(-10px, -10px);
}
/* //circle */

.circle{
    pointer-events: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    -webkit-mask: radial-gradient(var(--radius), transparent 100%, #000);
    mask: radial-gradient(var(--radius), #0000 98%, #000);
    backdrop-filter: blur(10px);
    background: radial-gradient( 
        calc(var(--radius) + 1px), var(--colorOne) 100%, #eee2
    );
}
.circle span{
    display: block;
    position: absolute;
    height: calc(var(--radius) * 2 + 50px);
    top: 50%;
    left: 50%;
    --rotate: 50deg;
    text-transform: uppercase;
    color: var(--colorOne);
    font-size: small;
    animation: circleRotate 20s linear infinite;
    transform: translate(-50%, -50%) rotate(var(--rotate));
}
@keyframes circleRotate{
    to{
        transform: translate(-50%, -50%) rotate(calc(var(--rotate) + 360deg));
    }
}


