:root{
    --colorOne: #ffffff;
    --colorTwo: #011936;
}
main {
    background-color: var(--colorTwo);
    height: 100%;
  }
::-webkit-scrollbar {
    background-color: var(--colorTwo);
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, var(--colorOne), var(--colorTwo));
    border-radius: 10px;
    height: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(var(--colorTwo), var(--colorOne));
}
.sliderNew{
    position: relative;
    width: 30vw;
    border: 1px solid var(--colorOne);
    box-shadow: 1px 1px 10px var(--colorOne);
    border-radius: 5px;
    display: inline-block;
    margin: auto 5vw auto 0px;
    transform: translate(50%, -10%);
}
.image {
    display: block;
    width:  30vw;
    height: 40vh;
}
.over {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 30vw;
    height: 0;
    transition-duration: 2s;
    background: linear-gradient(to bottom, var(--colorOne), var(--colorTwo));
    font-size: 1.5em;
    color: var(--colorOne);
    
}
.sliderNew:hover .over {
    color: var(--colorOne);
    bottom: 0;
    height: 100%;
    transition-duration: 2s;
    border-radius: 5px;
}
.text {
    transition: 5s;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(0vw, 20vh);
    text-align: center;
    color: var(--colorOne);
    font-weight: bolder;
    font-size: 1.1em;
    text-shadow: var(--colorOne);
}
.chatButton {
    width: 0;
    height: 10px;
    border-radius: 50%;
    font-size: 4em;
    position: fixed;
    border: none;
    opacity: 0.8;
    bottom: 15vh;
    right: 18vw;
    color: var(--colorOne);  
}
.openForm {
    display: none;
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    z-index: 9;  
    border: 1px solid  var(--colorOne);
    box-shadow: 1px 1px 10px var(--colorOne);  
    border-radius: 20px;
}
b {
    color: var(--colorOne);
}
.frontOpen {
    max-width: 35vw;
    padding: 30px;
    background-color: var(--colorTwo);
    border-radius: 20px;
}

.frontOpen textarea {
    width: 20vw;
    padding: 15%;
    margin: 5px 0px 22px 10px;
    border: none;
    border-radius: 2px;
    background-color: var(--colorOne);
    resize: none;
    min-height: 30vh;
    font-weight: bold;
    font-size: 1.1em;   
}
.frontOpen textarea:focus {
    background-color: var(--colorOne);
    outline: none;
    color: var(--colorTwo);
}
.frontOpen .send, .cancel {
    background-color: var(--colorOne);
    border-radius: 5px;
    color: var(--colorTwo);
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    font-weight: bold;
    font-size: 1em;
}

.frontOpen .send:hover, .cancel:hover,  .chatButton:hover {
    opacity: 1;
}
.newDoc {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 10px 0px var(--colorTwo);
    background-image: url(/img/coding.jpg);
    margin: 30px auto 50vh auto;
}
.newDoc p {
    display: inline-block;
    background-color: var(--colorTwo);
    color: var(--colorOne);
    line-height: 2em;
    opacity: 0.8;
    font-size: 1.5em;
    padding: 80px;
    text-shadow: 1px 1px 2px var(--colorOne);
}
footer {
    background-color: var(--colorOne);
    text-align: center;
    padding: 10px;
}
footer a{
    color: var(--colorTwo);
    font-size: 1.4em;
}

