main {
    background:  linear-gradient(var(--colorTwo)80%, var(--colorOne));
    height: 200vh;
  }
::-webkit-scrollbar {
    background-color: var(--colorTwo);
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, var(--colorOne), var(--colorTwo));
    border-radius: 10px;
    height: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(var(--colorTwo), var(--colorOne));
}
