@media screen and (max-width: 600px){
    nav img {
        width: 40px;
        margin: 30px 10px 10px 10px;
    }
    #saturn img{
        width: 80px;
        height: 80px;
        
    }
    .slider .content {
        bottom: 15%;
    }
    .slider .list .item img {
        width: 90%;
    }
    .box {
        width: 5vw;
        height: 5vh;
        margin: 62vh 75vw;
    }
    .box:hover .bird {
        transform: translateX(-50vh)translateY(-10vh);
    }
}