@media screen and (max-width: 600px){
    #social img {
        width: 40px;
        margin: 30px 10px 10px 10px;
    }
    #saturn img{
        width: 80px;
        height: 80px;
        
    }
    .slider .content {
        bottom: 15%;
    }
    .slider .list .item img {
        width: 90%;
    }
    .box {
        width: 50px;
        height: 50px;
        margin: 62vh 75vw;
    }
    .box:hover .bird {
        transform: translateX(-60vh)translateY(-80vw);
    }
}