@media screen and (max-width: 600px){
    #saturn img{
        width: 80px;
        height: 80px;
    }
    .slider .content {
        bottom: 5vh;
    }
    .slider .list .item img {
        width: 30vw;
    }
    .box {
        width: 30px;
        height: 30px;
    }
    .box:hover .bird{
        transform: translateX(-54vw)translateY(-56vh);
    }
}   