:root{
    --colorOne: #ffffff;
    --colorTwo: #011936;
}
.iframeTable {
    overflow-y: hidden;
    margin: auto;
    margin-bottom: 20vh;
    width: 80vw;
    height: 60vh;
    display: block;
    border: 1px solid var(--colorOne);
    border-radius: 10px;
    box-shadow: inset 1px 1px 10px var(--colorOne);
}

table {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    border-spacing: 0.5vw;
}
h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 2.5em;
    color: var(--colorOne);
}
td {
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid var(--colorOne);
    box-shadow: 1px 1px 10px  var(--colorOne);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--colorTwo);
    
}
tr {
    background: linear-gradient(var(--colorTwo), var(--colorOne))fixed;
}
tbody tr:nth-child(even) {
    background: linear-gradient(90deg, var(--colorOne), var(--colorTwo));
    
}
tbody tr:nth-child(even):hover{
    background-color: var(--colorTwo);
    color: var(--colorOne);
}

td:hover {
    background-color: var(--colorOne);
    color: var(--colorTwo);
    font-weight: bold;
}
